In [2]:
# 9.1 - 1 

cardinal_numbers = ('first', 'second', 'third')

type(cardinal_numbers)

tuple

In [3]:
# 9.1 - 2 

print(cardinal_numbers[1])

second

In [4]:
# 9.1 - 3

position1, position2, position3 = cardinal_numbers

print(position1)
print(position2)
print(position3)

first
second
third

In [6]:
# 9.1 - 4

my_name = tuple("Luke")

type(my_name)

tuple

In [9]:
# 9.1 - 5

print('x' in my_name)

False

In [8]:
# 9.1 - 6

new = my_name[1:]

print(new)

('u', 'k', 'e')

In [10]:
# 9.2 - 1

food = ["rice", "beans"]

print(food)

['rice', 'beans']

In [11]:
# 9.2 - 2

food.append("broccoli")

print(food)

['rice', 'beans', 'broccoli']

In [14]:
# 9.2 - 3

food.extend(["bread", "pizza"])

print(food)

['rice', 'beans', 'broccoli', 'bread', 'pizza']

In [16]:
# 9.2 - 4

print(food[:2])

['rice', 'beans']

In [17]:
# 9.2 - 5

print(food[-1])

pizza

In [30]:
# 9.2 - 6

breakfast = "eggs, fruit, orange juice".split(', ')

print(breakfast)

['eggs', 'fruit', 'orange juice']

In [31]:
# 9.2 - 7

print(len(breakfast) == 3)

True

In [4]:
# 9.3 - 1

tuple1 = ((1,2),(3,4))

print(tuple1)

((1, 2), (3, 4))

In [8]:
# 9.3 - 2

for i in range(len(tuple1)):
    print(f"Row {i + 1} sum: {tuple1[i][0] + tuple1[i][1]}")

Row 1 sum: 3
Row 2 sum: 7

In [1]:
# 9.3 - 3

numbers = [4, 3, 2, 1]

type(numbers)

list

In [3]:
# 9.3 - 4

numbersCopy = numbers[:]

print(numbersCopy)

[4, 3, 2, 1]

In [11]:
# 9.3 - 5

numbers = [4, 3, 2, 1]
numbers.sort()

print(numbers)

[1, 2, 3, 4]

In [88]:
# 9.4 - Challenege

universities = [
['California Institute of Technology', 2175, 37704],
['Harvard', 19627, 39849],
['Massachusetts Institute of Technology', 10566, 40732],
['Princeton', 7802, 37000],
['Rice', 5879, 35551],
['Stanford', 19535, 40569],
['Yale', 11701, 40500]
]

students = []
tuition = []

total_students = 0
total_tuition = 0

student_mean = 0
tuition_mean = 0

student_median = 0
tuition_median = 0

def enrollment_stats():
    for i in range(len(universities)):
        students.append(universities[i][1])
        tuition.append(universities[i][2])

    students.sort()
    tuition.sort()

    for i in range(len(universities)):
        global total_students
        global total_tuition
        total_students += universities[i][1]
        total_tuition += universities[i][2]

enrollment_stats()

def mean():
    global student_mean
    global tuition_mean
    student_mean = total_students / len(universities)
    tuition_mean = total_tuition / len(universities)

mean()

def median():
    global student_median
    global tuition_median
    
    index = (len(students) - 1) // 2

    if len(students) % 2:
        student_median = students[index]
    else:
        student_median = (students[index] + students[index + 1]) / 2.0

    if len(tuition) % 2:
        tuition_median = tuition[index]
    else:
        tuition_median = (tuition[index] + tuition[index + 1]) / 2.0

median()


print("\n")
print("****" * 6)
print(f"Total students:   {total_students}")
print(f"Total tuition:  $ {total_tuition}")
print()
print(f"Student mean:     {int(student_mean)}")
print(f"Student median:   {student_median}")
print()
print(f"Tuition mean:   $ {int(tuition_mean)}")
print(f"Tuition median: $ {tuition_median}")
print("****" * 6)
print("\n")

************************
Total students:   77285
Total tuition:  $ 271905

Student mean:     11040
Student median:   10566

Tuition mean:   $ 38843
Tuition median: $ 39849
************************

In [1]:
# 9.5 - Challenge

from random import choice

nouns = ["chirmera", "fiend", "succubus", "judge", "chef", "pheonix", "extrovert"]

verbs = ["absorbs", "kills", "destroys", "obliterates", "engulfs", "consumes", "submerges", "inundates"]

adjectives = ["bushy", "bristly", "flirtatious", "inviting", "charming", "enticing", "tempting", "provacative", "tantalizing", "rousing"]

prepositions = ["against", "beyond", "among", "underneath", "despite", "beneath", "between", "in spite of", "for", "in", "within"]

adverbs = ["sensuously", "hedonisticly", "carnally", "generously"]

def make_poem():
    """Create randomly generated poem, returned as multiline string."""
    # Pull three nouns randomly
    n1 = choice(nouns)
    n2 = choice(nouns)
    n3 = choice(nouns)
    n4 = choice(nouns)
    while n1 == n2:
        n2 = choice(nouns)
    while n1 == n3 or n2 == n3:
        n3 = choice(nouns)
    while n1 == n4 or n2 == n4 or n3 == n4:
        n4 = choice(nouns)

    # Pull three verbs randomly
    v1 = choice(verbs)
    v2 = choice(verbs)
    v3 = choice(verbs)
    while v1 == v2:
        v2 = choice(verbs)
    while v1 == v3 or v2 == v3:
        v3 = choice(verbs)

    # Pull three adjectives randomly
    adj1 = choice(adjectives)
    adj2 = choice(adjectives)
    adj3 = choice(adjectives)
    while adj1 == adj2:
        adj2 = choice(adjectives)
    while adj1 == adj3 or adj2 == adj3:
        adj3 = choice(adjectives)

    # Pull two propositions randomly
    prep1 = choice(prepositions)
    prep2 = choice(prepositions)
    while prep1 == prep2:
        prep2 = choice(prepositions)


    # Pull one adverb randomly
    adv1 = choice(adverbs)

    if "aeiou".find(adj1[0]) != -1:  # first letter is a vowel
        article = "An"
    else:
        article = "A"
   
    if "aeiou".find(adj3[0]) != -1:  # first letter is a vowel
        article2 = "an"
    else:
        article2 = "a"
    
    if "aeiou".find(n4[0]) != -1:  # first letter is a vowel
        article3 = "an"
    else:
        article3 = "a"

    # add lines to poem
    poem = f"{article} {adj1} {n1}\n\n"
    poem = poem + f"{article} {adj1} {n1} {v1} the {adj2} {n2}\n"
    poem = poem + f"{adv1}, the {n1} {v2} {article3} {n4}\n"
    poem = poem + f"the {n2} {v3} {prep2} {article2} {adj3} {n3}"

    return poem


print(make_poem())

A flirtatious pheonix

A flirtatious pheonix destroys the enticing chef
carnally, the pheonix inundates a fiend
the chef kills within a tempting chirmera

In [2]:
# 9.6 - 1

birthdays = {}

type(birthdays)

dict

In [3]:
# 9.6 - 2

birthdays['Luke Skywalker'] = '5/24/19'
birthdays['Obi-Wan Kenobi'] = '3/11/57'
birthdays['Darth Vader'] = '4/1/41'

print(birthdays)

{'Luke Skywalker': '5/24/19', 'Obi-Wan Kenobi': '3/11/57', 'Darth Vader': '4/1/41'}

In [10]:
# 9.6 - 3


if 'Yoda' in birthdays:
    print(birthdays['Yoda'])
else:
    print('Birthday Unknown')

if 'Darth Vader' in birthdays:
    print(birthdays['Darth Vader'])
else:
    print('Birthday Unknow')

Birthday Unknown
4/1/41

In [14]:
# 9.6 - 4

for name in birthdays:
    print(name, birthdays[name])

Luke Skywalker 5/24/19
Obi-Wan Kenobi 3/11/57
Darth Vader 4/1/41

In [16]:
# 9.6 - 5

del(birthdays['Darth Vader'])

print(birthdays)

{'Luke Skywalker': '5/24/19', 'Obi-Wan Kenobi': '3/11/57'}

In [19]:
# 9.6 - 6

birthdays = dict([
        ("Luke Skywalker", "5/25/19"),
        ("Obi-Wan Kenobi", "3/11/57"),	   
        ("Darth Vader", "4/1/41"),
    	    ])

print(birthdays)

{'Luke Skywalker': '5/25/19', 'Obi-Wan Kenobi': '3/11/57', 'Darth Vader': '4/1/41'}

In [ ]:
from capitals import capitals_dict
import random